@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

*, html {
    box-sizing: border-box;
    left: 0;
    top: 0;
    padding: 0;
    font-family: "Play", sans-serif;
}

.header__text {
    font-family: "Play", sans-serif;
    display: flex;
    text-align: center;
}

.header {
    height: 290px;
    margin-top: 290px;
    margin-bottom: 290px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.first__text {
    margin-top: 10px;
    display: flex;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    
}