* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

header {
  color: #FFF;
  background: url("../img/bg.png") 0 0/100% auto no-repeat;
  padding: 35px 0px 70px 0px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__middle {
  text-align: center;
  margin-top: 220px;
  line-height: 40px;
  transition: 1s;
  height: 100px;
}
.header__middle:hover {
  transform: scale(1.1);
  color: rgb(245, 245, 245);
  cursor: default;
}
.header__middle h1 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 5px;
  font-weight: 400;
  font-size: 60px;
}

.middle__span {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: bold;
}

.header__bottom {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 11px;
  margin-top: 230px;
  transition: 1s;
}

.header__bottom:hover {
  transform: scale(0.9);
  box-shadow: 0 0 20px 2px black;
  cursor: pointer;
}

.header__bottom a {
  text-decoration: none;
  color: #FFF;
}

.nav__menu {
  color: #48555B;
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}

.menu__ul {
  display: flex;
  text-transform: uppercase;
  list-style: none;
}

.menu__ul a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #48555B;
  margin-left: 40px;
  font-size: 15px;
  font-weight: 800;
  transition: 0.5s;
}

.menu__ul a:hover {
  transform: scale(1.2);
  color: #00A4E5;
}

.story__title {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 800;
  color: #48555B;
  margin-top: 65px;
}
.story__title:hover {
  cursor: default;
}

.content__left {
  display: flex;
  flex-direction: column;
}

hr {
  margin-top: 10px;
  height: 3px;
  width: 50px;
  background-color: #00A4E5;
}

.story__content {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.left__up {
  font-size: 20px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: #48555B;
}

.blue__color {
  color: #00A4E5;
}

.left__bottom {
  margin-top: 20px;
  color: #48555B;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 23px;
}

.content__right {
  display: flex;
  align-items: flex-end;
  margin-left: 85px;
}

.right__img {
  margin-left: 20px;
  transition: 1s;
}

.right__img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 2px black;
}

.capabilities {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.capa-title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 800;
  color: #48555B;
}
.capa-title:hover {
  cursor: default;
}

.capa-text {
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  color: #48555B;
  font-size: 13px;
}

.capa-right {
  display: flex;
}

.btn {
  margin-left: 20px;
  border: none;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  padding: 15px 30px;
  color: white;
  background-color: #00A4E5;
  transition: 0.5s;
}

.btn:hover {
  transform: scale(1.01);
  border-radius: 3px;
  color: rgb(243, 243, 243);
  background-color: #099eda;
  box-shadow: 0 0 7px 2px #0290c9;
  cursor: pointer;
}

.cards {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
}

.card {
  padding: 40px 22px;
  border: 1px solid #E6E6E6;
  transition: 1s;
}
.card:hover {
  cursor: default;
  box-shadow: 0 0 20px 2px black;
  transform: scale(1.1);
}

.card__title {
  margin-top: 25px;
  color: #48555B;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.card__content {
  margin-top: 15px;
  line-height: 25px;
  font-size: 13px;
  color: #48555B;
  font-family: "Open Sans", sans-serif;
}

.smt_amazing {
  height: 460px;
  margin-top: 113px;
  background: url("../img/bg1.png") 0 0/100% auto no-repeat;
  padding-top: 135px;
}

.amazing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.amazing__title {
  text-align: center;
  line-height: 36px;
  color: #48555B;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

.amazing-btn {
  margin-top: 40px;
}

.newsletter {
  background-color: #171819;
}

.newsletter_signup {
  padding: 35px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter__left {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.85px;
}

input {
  width: 250px;
  margin-left: 70px;
  padding: 0px 6px;
  border: none;
  height: 50px;
}

input:hover {
  border: none;
}

input::-moz-placeholder {
  font-size: 14px;
}

input:-ms-input-placeholder {
  font-size: 14px;
}

input::placeholder {
  font-size: 14px;
}

.form {
  display: flex;
  align-items: flex-end;
}

.btn__letter {
  height: 49.5px;
  margin-left: 4px;
}

footer {
  background-color: #141A20;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.column__footer {
  display: flex;
  flex-direction: column;
}

.column__footer a {
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
}

.footer__header {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer__text {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  margin-top: 15px;
}

.contact__text {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  line-height: 16px;
}

.second_footer {
  background-color: #171819;
}

.sec__footer {
  font-family: "Open Sans", sans-serif;
  color: #FFF;
  padding: 23px;
  text-align: center;
  font-size: 11px;
}