.jumbotron {
  border-radius: 0px;
}
.jumbotron h2 {
  font-size: 72px;
  font-weight: 300;
}
.jumbotron p {
  font-size: 16px;
}
@media screen and (max-width: 480px) {
  .jumbotron h2 {
    font-size: 48px;
  }
}
.btn {
  font-size: 20px;
}
.card-title {
  font-size: 20px;
}
.card-header {
  font-weight: 500;
}
.card {
  margin-top: 10px;
}
.table-container {
  overflow: auto;
  padding-top: 33px;
}
footer {
  background-color: #F5F5F5;
  color: #6C757D;
  padding: 14px 55px;
  margin-top: 40px;
}
@media screen and (max-width: 480px) {
  .navbar {
    position: inherit;
  }
}
