:root {
  --user-button-circle: rgba(0,0,0,0.025);
  --user-button-cardborder: rgba(255,255,255,0.25);
  --user-button-text:#323133;
  --user-button-shadow:rgba(0,0,0,0.1);
}

.dark {
  background: #232223;
  color: white;
}
@media (prefers-color-scheme: dark) {
  :not(.light) {
    background: radial-gradient(circle at 50% 50%, #192233 20%, #000);

    color: white;
  }
}
.options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  margin-top: 40px;
  width: 100%;
  height: 600px;

}

.options .option {
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  width: 142px;
  margin-right: 30px;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.option .option__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--optionBackground);
  background-size: auto 100%;
  background-position: center;
}

.option:not(.active) .option__background{
  filter: grayscale(1);
}

.options .option.active {
  flex-grow: 10000;
  height: 600px;
  width: 444px;
  border-radius: 20px;
  background-size: auto 100%;
}
.options .option.active .shadow {
  position: absolute;
    bottom: 1;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 255, 0.7), rgba(0, 0, 255, 0.4) 70%, transparent); 
}

.options .option:not(.active) {
  flex-grow: 1;
  border-radius: 50px;
}

.options .option:not(.active) .shadow {
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8) 70%, transparent); 
}

.options .option:not(.active) .label > div {
  left: 20px;
  opacity: 0;
}

.card-footer__button_link{
  width: 60px;
  height: 60px;
}

.options .option:not(.active) .label > a {
  left: 20px;
  opacity: 0;
}

.options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.options .option .label {
  position: relative;
  width: 100%;
  margin: 0px 20px 25px 25px;
  display: flex;
  color: #fff;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  font-family: "Open Sans", serif;
}

.card-date {
  font-weight: lighter;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-footer__text {
  width: 313px;
  line-height: 25px;
}

.card-header {
  font-weight: bold;
}

.info__content{
  padding-bottom: 15px;
}

.card-footer__button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 60px;
  height: 60px;
  background-image: url("../icons/стрелка_на_карточке.svg");
  background-repeat: no-repeat;
}

.option:not(.active) .card-footer__button__not_active{
  position: absolute;
  z-index: 999;
  bottom: 10px;
  margin-left: 11%;
  width: 65px;
  height: 65px;
  background-image: url("../icons/стрелка_not_active.svg");
  background-repeat: no-repeat;
  filter: grayscale(0%);
}





