/*  Шрифты
    font-family: "Playfair Display SC", serif;
    font-family: "Open Sans", serif;
    font-family: "Raleway", serif;
*/


* {
    box-sizing: border-box;
}

/* Общее правило для всех ссылок на сайте */
a {
    text-decoration: none;
    color: #fff;
}

/* Общее правило для ul списков на сайте */
ul {
    list-style-type: none;
    margin: 0;
}

body {
    overflow-x: hidden;
}

/* Общее правило для кнопок на сайте */
button {
    border: 0;
    background: none;
}

/* Контейнер для элементов - ограничивает ширину для контента*/
.container{
    position: relative;
    display: block;
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

/* Шапка - верхняя панель */
.header-navigation{
    position: relative;
    top: 0;
    z-index: 999;
    height: 120px;
}

.header-logo{
    width: 154px;
    height: 84px;
    margin-bottom: 25px;
    margin-top: 10px;
}

/* Конкретно навигационная панель шапки (кнопки-ссылки) */
.nav-content{
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #fff;
}

.nav_menu{
    display: flex;
    font-family: "Open Sans", serif;
    font-size: 20px;
    height: 100%;
}

.nav_element{
    display: flex;
    margin-left: 50px;
    height: 100%;
    align-items: center;
    border-bottom: 3px solid rgba(255, 0, 0, 0);
    transition: all .3s ease;
}

.nav_element:hover{
    box-sizing: border-box;
    border-bottom: 3px solid #D71616;
}

/* Иконка поиска */
.header-search{
    cursor: pointer;
}

/* Выбор языка */
.choose_language {
    color: #fff;
    cursor: default;
    font-family: "Open Sans", serif;
    font-size: 20px;
}

.rus, .bel {
    cursor: pointer;
    transition: all .1s ease;
}

.rus:hover {
    color: #D71616;
}
.bel:hover {
    color: #D71616;
}





/* Контент шапки сайта */

.header {
    position: relative;
    top: -120px;
    margin-bottom: -120px;
    height: 970px;
    width: 100%;
    background-size: cover;
    background-image: url("/img/mask.jpg");
    background-repeat: no-repeat;
}

.header-content{
    width: 100%;
    display: flex;
    font-family: "Playfair Display SC", serif;
    color: #fff;
    justify-content: space-between;
}

.header_information{
    margin-top: 25%;
}

.information__header{
    font-family: "Raleway", serif;
    width: 1172px;
    font-size: 96px;
}

.information__header:after{
    content: '';
    display: block;
    height: 3px; 
    background: #ffffff; 
    width: 279px; 
    margin: 77px 0 58px; 
}

.information__main {
    font-family: "Raleway", serif;
    font-weight: lighter;
    font-size: 24px;
}

.header__social_media{
    display: flex;
    align-items: flex-end;
    height: 970px;
}

.four_media_icons{
    margin-bottom: 20px;
}

.media_icon {
    margin-left: 43px;
}



/* Блок новостей */

.news {
    overflow: hidden;
}

.news-content{
    display: flex;
}


.news_right_content{
    padding: 45px 60px;
    width: 100%;
}

.news_right_content__top{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.news__top__right {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.news__top__left {
    font-family: "Playfair Display SC", serif;
    font-size: 96px;
}

.news__top__right-text {
    font-size: 24px;
    font-family: "Open Sans", serif;
}

.news__top__right-icon {
    width: 75px;
    height: 75px;
    margin-left: 40px;
    background-image: url("/icons/стрелка.svg");
    background-repeat: no-repeat;
    transition: all .5s ease;
}

.news__top__right-icon:hover {
    background-image: url("/icons/стрелка_active.svg");
}


/* Направление деятельности */
.activity {
    width: 100%;
    height: 850px;
    background: linear-gradient(to top right, rgba(148, 171, 255, 0.35) 0%, rgb(255, 221, 221) 130%);
}

.activity-vector {
    font-family: "Playfair Display SC", serif;
    font-size: 64px;
}

.activity .container {
    height: 100%;
}

.activity-content {
    height: 100%;
}

.activity-content__top {
    display: flex;
    justify-content: center;
}

.activity-content__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.activity-information {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 523px;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 20px;  /* Убедимся, что блок не скрыт и имеет отступы */
    height: auto;  /* Для корректного отображения содержимого */
    z-index: 10;  /* Добавляем, чтобы блок был на переднем плане */
}

.activity_header, .activity_main {
    position: relative;  /* Меняем с absolute на relative */
    width: 100%;
    opacity: 0; /* Изначально скрыто */
    transition: opacity 0.5s ease; /* Плавное появление */
}

.activity_header.active, .activity_main.active {
    opacity: 1; /* При активации - видим */
}

.activity_header {
    font-size: 32px;
    font-family: "Playfair Display SC", serif;
    margin-bottom: 20px;
}

.activity_main {
    width: 500px;
    font-size: 16px;
    font-family: "Playfair Display SC", serif;
}

.activity-image {
    width: 452px;
    height: 466px;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    border: 1px solid #fff;
    box-shadow: 5px 4px 4px 0px rgb(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 0.7s ease-in-out, background-image 1s ease-in-out;
    object-fit: cover;
}

.activity-image.active {
    opacity: 1;
}


.ornament-right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 99px;
    height: 850px;
    background-image: url(/img/орнамент_правый.svg);
}

.ornament-bottom {
    position: absolute;
    bottom: 40px;              
    left: 0;                   
    width: 100%;               
    height: 1px;               
    background-color: black;   
    z-index: 9999;             
    border: none;              
}

/* Registration */

.registration {
    padding: 130px 120px;
    position: relative;
}

.registration-content {
    display: flex;
}


.reg-img_up, .reg-img_down {
    display: flex;
}

.reg_img {
    background-image: url(/img/activity.jpeg);
    background-size: cover;
    width: 300px;
    height: 300px;
    margin-bottom: 6px;
    margin-right: 6px;
    border-radius: 20px;
}

.registration-main {
    margin-left: 50px;
}

.reg-header, .reg-main {
    font-family: "Raleway", serif;
}

.reg-header {
    text-align: center;
    font-size: 32px;
    font-weight: 300;
}

.reg-main {
    margin: 50px 0px;
    font-size: 20px;
    font-weight: 300;
    text-indent: 10px;
    width: 578px;
}

.reg-button {
    margin-left: 80px;
    font-family: "Playfair Display SC", serif;
    background: #9EBBD4;
    cursor: pointer;
    color: #fff;
    font-size: 32px;
    padding: 20px 40px;
    border-radius: 30px;
    transition: all ease 1s;
}

.reg-button:hover {
    background-color: #03213B;
    color: #AEA3FF;
}

/* Four logos */

.logos-content {
    padding: 100px 50px;
}

.logos-logo {
    margin: 0px 50px;
    width: 212px;
    height: 117px;
}

.logos {
    position: relative;
}

.ornament-element {
    position: absolute;
    top: -100px;
    left: -125px;
    z-index: 999;
}

.ornament-element_bottom {
    position: absolute;
    bottom: -100px;
    right: -125px;
    z-index: 999;
}

/* 2025 */

.year{
    background-image: url(/img/2025_year.png);
    background-size: cover;
    height: 206px;
    width: 100%;
}

/* Internet resources */

.internet-resources {
    width: 100%;
    height: 370px;
    background: linear-gradient(to right, rgba(255, 215, 215, 0.1) 0%, rgb(233, 205, 229, 0.23), rgb(192, 186, 255, 0.5) 100%);
}

.internet-resources .container {
    height: 100%;
}

.internet-resources_content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.middle-header {
    font-family: "Raleway", serif;
    font-size: 40px;
    margin-bottom: 70px;
}

.internet-middle {
    padding: 40px 0px 90px;
    height: 100%;
}

.middle-main {
    display: flex;
}

.internet-line, .internet-line_bottom {
    height: 231px;
}

.internet-right {
    display: flex;
    align-items: flex-end;
}

.left-top {
    margin-bottom: 100px;
}

.left-top, .left-bottom, .middle-right {
    font-family: "Raleway", serif;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.middle-right {
    display: flex;
    align-items: flex-start;
}


/* Предфутерная информация */

.contacts-content {
    display: flex;
    font-family: "Raleway", serif;
    padding: 35px 0px 100px;
    justify-content: space-around;
}

.contacts-header, .short-info_header, .fast-links_header, .work-time_header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.row-icon {
    margin-right: 14px;
}

.contacts-row {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.contacts-block {
    display: flex;
    flex-direction: column;
}

.contacts-logo {
    width: 212px;
    height: 117px;
}

.short-info_header {
    margin: 30px 0px; 
}

.short-info {
    font-family: "Open Sans", serif;
    font-size: 16px;
    width: 212px;
}

.fast-links {
    display: flex;
    flex-direction: column;
}

.fast-links a {
    color: black;
}

.work-time, .fast-links, .contacts-block {
    margin-top: 10px;
}

.fast-links_link {
    margin-bottom: 20px;
}


/* FOOTER */

.footer {
    background-color: #000;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-icon {
    margin: 0px  20px;
}

.footer-text {
    display: flex;
    justify-content: center;
    color: #ffffff7f;
    font-family: "Open Sans", serif;
    font-size: 12px;
}